body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.carousel-caption.d-md-block {
    transform: translateY(-12rem);
}
.carousel-caption.d-md-block  h1{
    font-size: 3rem;
    color: white;
}
.carousel-caption.d-md-block  p{
    font-size: 1rem;
    color: white;
}
.bg-clr{
    background-color: #F4FAFD;
}
#cover-height{
    height: 37rem;
}
.col-lg-6.d-flex.flex-column.justify-content-center.align-items-center h1 {
    position: relative;
    /* left: -15px; */
}
.register {
    outline: none;
    border: none;
    background: white;
    color: #289Bde;
    padding: 0.5rem;
    letter-spacing: 2px;
    font-size: 1.25rem;
    border-radius: 4px;
    margin: 1rem;
}
.register:hover{
    background-color: #289Bde;
    color: white;
}

/* media Query  */
@media (max-width: 576px) { 

    .btn-outline-primary{
        display: none;
    }
   
 }
 @media (max-width: 769px) { 
   
    .carousel-caption.d-md-block {
        margin: -3rem;
    }
    .carousel-caption.d-md-block  h1{
        font-size: 1.5rem;
        color: white;
        font-weight: 700;
    }
    #cover-height{
        height: 17rem;
    }
  }
 @media (max-width: 993px) { 
   .btn-outline-primary{
        display: none;
    }
    .carousel-caption.d-md-block {
        transform: translateY(-4rem);
    }
    #cover-height{
        height: 23rem;
    }
  }