body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.carousel-caption.d-md-block {
    transform: translateY(-12rem);
}
.carousel-caption.d-md-block  h1{
    font-size: 3rem;
    color: white;
}
.carousel-caption.d-md-block  p{
    font-size: 1rem;
    color: white;
}
.bg-clr{
    background-color: #F4FAFD;
}
#cover-height{
    height: 37rem;
}
.col-lg-6.d-flex.flex-column.justify-content-center.align-items-center h1 {
    position: relative;
    /* left: -15px; */
}
.btn-center.btn.btn-primary {
    display: inline-block;
    width: 8rem;
    text-align: center;
}
.fa-quote-left-alt:before, .fa-quote-left:before {
    content: "\f10d";
}
.fa-star:before {
    content: "\f005";
}
img.img-fluid.rounded.w-20.h-20 {
    height: 60px;
    width: 60px;
    border-radius: 14px;
}

::before {
    color: gold;
    font-size: 16px;
    margin: 0;
}
.fa-star:before:nth-child(5){
    color: rgb(209, 204, 176);
}

.fa-quote-left-alt:before, .fa-quote-left::before {
    font-size: 48px;
    color: gray;
    transform: rotateX(138deg);
}
.register {
    outline: none;
    border: none;
    background: white;
    color: #289Bde;
    padding: 0.5rem;
    letter-spacing: 2px;
    font-size: 1.25rem;
    border-radius: 4px;
    margin: 1rem;
}
.register:hover{
    background-color: #289Bde;
    color: white;
}

p.h5.text-muted {
    text-align: justify;
}

/* media Query  */
@media (max-width:410) {
    .col-lg-3.col-md-6.col-sm-12.my-3 {
        text-align: center;
    }
    img.img-fluid.col-sm-12 {
        width: 100%;
    }
}
@media (max-width: 576px ) { 
    img.img-fluid.col-sm-12 {
        width: 100%;
    }
    .col-lg-3.col-md-6.col-sm-12.my-3 {
        text-align: center;
    }
    .btn-outline-primary{
        display: none;
    }
    .col-lg-3.col-md-6.col-sm-12.my-3 h3 p {
        text-align: center;
    }

   
 }
 @media (max-width: 769px) { 
   
    .carousel-caption.d-md-block {
        margin: -3rem;
    }
    .carousel-caption.d-md-block  h1{
        font-size: 1.5rem;
        color: white;
        font-weight: 700;
    }
    #cover-height{
        height: 17rem;
    }
  }
 @media (max-width: 993px) { 
   .btn-outline-primary{
        display: none;
    }
    .carousel-caption.d-md-block {
        transform: translateY(-4rem);
    }
    #cover-height{
        height: 23rem;
    }
  }